# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build outputs
dist/
client/dist/
build/

# Database & Volume data
postgres_data/
pgadmin_data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error_log

# OS junk files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Uploads & Assets
assets/uploads/
server/uploads/
